run/logs/2025-08-27-23.log.gz
run/logs/2025-08-27-24.log.gz
run/logs/2025-08-27-25.log.gz
run/logs/2025-08-27-26.log.gz
run/logs/2025-08-27-27.log.gz
run/logs/2025-08-27-28.log.gz
run/logs/2025-08-27-29.log.gz
run/logs/2025-08-27-30.log.gz
run/logs/2025-08-27-31.log.gz
run/logs/2025-08-27-32.log.gz
run/logs/2025-08-27-33.log.gz
run/logs/2025-08-27-34.log.gz
run/logs/2025-08-27-35.log.gz
run/logs/2025-08-27-36.log.gz
run/logs/2025-08-27-37.log.gz
run/saves/New World/level.dat
run/saves/New World (1)/icon.png
run/saves/New World (2)/icon.png
run/saves/New World/session.lock
run/saves/New World (1)/level.dat
run/saves/New World (2)/level.dat
run/saves/New World/level.dat_old
run/saves/New World/poi/r.0.0.mca
run/saves/New World/data/raids.dat
run/saves/New World/poi/r.-1.0.mca
run/saves/New World/poi/r.-2.0.mca
run/saves/New World/poi/r.0.-1.mca
run/saves/New World/poi/r.0.-2.mca
run/saves/New World/poi/r.-1.-1.mca
run/saves/New World/poi/r.-1.-2.mca
run/saves/New World/poi/r.-2.-1.mca
run/saves/New World/poi/r.-2.-2.mca
run/saves/New World (1)/session.lock
run/saves/New World (2)/session.lock
run/saves/New World/region/r.0.0.mca
run/saves/New World (1)/level.dat_old
run/saves/New World (1)/poi/r.0.0.mca
run/saves/New World (1)/poi/r.1.0.mca
run/saves/New World (2)/level.dat_old
run/saves/New World (2)/poi/r.0.0.mca
run/saves/New World/region/r.-1.0.mca
run/saves/New World/region/r.-2.0.mca
run/saves/New World/region/r.0.-1.mca
run/saves/New World/region/r.0.-2.mca
run/saves/New World (1)/data/raids.dat
run/saves/New World (1)/poi/r.-1.0.mca
run/saves/New World (1)/poi/r.0.-1.mca
run/saves/New World (1)/poi/r.1.-1.mca
run/saves/New World (2)/data/raids.dat
run/saves/New World (2)/poi/r.-1.0.mca
run/saves/New World (2)/poi/r.0.-1.mca
run/saves/New World/entities/r.0.0.mca
run/saves/New World/region/r.-1.-1.mca
run/saves/New World/region/r.-1.-2.mca
run/saves/New World/region/r.-2.-1.mca
run/saves/New World/region/r.-2.-2.mca
run/saves/New World (1)/poi/r.-1.-1.mca
run/saves/New World (2)/poi/r.-1.-1.mca
run/saves/New World/entities/r.-1.0.mca
run/saves/New World/entities/r.0.-1.mca
run/saves/New World (1)/region/r.0.0.mca
run/saves/New World (1)/region/r.1.0.mca
run/saves/New World (2)/region/r.0.0.mca
run/saves/New World/DIM-1/data/raids.dat
run/saves/New World/entities/r.-1.-1.mca
run/saves/New World (1)/region/r.-1.0.mca
run/saves/New World (1)/region/r.0.-1.mca
run/saves/New World (1)/region/r.1.-1.mca
run/saves/New World (2)/region/r.-1.0.mca
run/saves/New World (2)/region/r.0.-1.mca
run/saves/New World/data/capabilities.dat
run/saves/New World (1)/entities/r.0.0.mca
run/saves/New World (1)/region/r.-1.-1.mca
run/saves/New World (2)/entities/r.0.0.mca
run/saves/New World (2)/region/r.-1.-1.mca
run/saves/New World (1)/entities/r.-1.0.mca
run/saves/New World (1)/entities/r.0.-1.mca
run/saves/New World (2)/entities/r.-1.0.mca
run/saves/New World (2)/entities/r.0.-1.mca
run/saves/New World/DIM1/data/raids_end.dat
run/saves/New World (1)/DIM-1/data/raids.dat
run/saves/New World (1)/entities/r.-1.-1.mca
run/saves/New World (2)/DIM-1/data/raids.dat
run/saves/New World (2)/entities/r.-1.-1.mca
run/saves/New World (1)/data/capabilities.dat
run/saves/New World (2)/data/capabilities.dat
run/saves/New World/data/random_sequences.dat
run/saves/New World/DIM1/data/capabilities.dat
run/saves/New World (1)/DIM1/data/raids_end.dat
run/saves/New World (2)/DIM1/data/raids_end.dat
run/saves/New World/DIM-1/data/capabilities.dat
run/saves/New World (1)/data/random_sequences.dat
run/saves/New World (2)/data/random_sequences.dat
run/saves/New World (1)/DIM1/data/capabilities.dat
run/saves/New World (2)/DIM1/data/capabilities.dat
run/saves/New World/serverconfig/forge-server.toml
run/crash-reports/crash-2025-08-27_18.28.57-fml.txt
run/saves/New World (1)/DIM-1/data/capabilities.dat
run/saves/New World (2)/DIM-1/data/capabilities.dat
run/crash-reports/crash-2025-08-27_18.47.49-server.txt
run/saves/New World (1)/serverconfig/forge-server.toml
run/saves/New World (2)/serverconfig/forge-server.toml
run/saves/New World/stats/380df991-f603-344c-a090-369bad2a924a.json
run/saves/New World (1)/stats/380df991-f603-344c-a090-369bad2a924a.json
run/saves/New World (2)/stats/380df991-f603-344c-a090-369bad2a924a.json
run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
run/saves/New World/advancements/380df991-f603-344c-a090-369bad2a924a.json
run/saves/New World (1)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
run/saves/New World (2)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
run/saves/New World (1)/advancements/380df991-f603-344c-a090-369bad2a924a.json
run/saves/New World (2)/advancements/380df991-f603-344c-a090-369bad2a924a.json
run/saves/New World (1)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
run/saves/New World (2)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
